body{
    background-color: #282C33;
}

.line{
    width: 1px;
    height: 100px;
    border-left: 1px solid #9c9fa3e8;
    /* background-color: #881212; */
    margin: 4px 17px 0px;
    position: absolute;
}
.container-github{
    height: 50px;
    width: 50px;
    /* background-color: #38a019; */
    margin-top: 8%;
    position: absolute;
}
.container-github .github{
    /* background-color: #9c9fa3e8; */
    border-radius: 100px;
    align-content: center;
    margin: 0px 5px 7px;
    height: 20px;
    width: 20px;
}
nav{
    position: relative;
    background-color: #000;
    display: inline;
}
nav samp{
    color: #C778DD;
    font-size: 20px;
}

ul{
    position: relative;
    display: flex;
    justify-content: end;
    list-style: none;
}
ul li a{
    color: #9c9fa3e8
    ;
    text-decoration: none;
    padding: 15px;
}
ul li a:hover{
    color: #C778DD;
    background-color: #282C33;
    border-bottom: 1px solid #9c9fa3e8;
}
#home-one {
    /* border: #C778DD 1px solid; */
    height: 90vh;
    width: 95%;
    margin-left: 4%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.container {
    overflow: hidden;
    position: relative;
    width: 48%;
    height: 98%;
    margin-right: 5%;
    text-decoration: none;
}
.container img{
    margin: 3% 40px 0px;
    width: 88%;
    height: 99%;
    border-radius: 100%;
    mix-blend-mode:soft-light;
    animation: up-down 30s infinite ease-in-out;
}
@keyframes up-down {
    0%{ transform: translateY(0);}
    50%{transform: translateY(-20px);}
    100%{ transform:translateY(0);}
}

#projects p{
    color: #fff;
    font-size: x-large;
}
.container-home {
    /* flex: 2; */
    /* border: 1px solid #C778DD; */
    align-content: center;
    height: 90%;
    width: 600px;
    initial-letter: 2;
}
.container-home h1 {
    color: #fff;
    font-size: 49px;
    margin-left: 1%;
    letter-spacing: 1px;
    line-height: 1.2;
    display: inline;


}
.container-home .C-h{
    color: #C778DD;
}
.container-home p {
    color: #ABB2BF;
    font-size: 20px;
}
#contact-me {
    background: transparent;
    border: 1px solid #C778DD;
    color: #9c9fa3e8;
    padding: 10px 20px;
    border-radius: 1px;
    margin-top: 1%;
    margin-left: 12%;
    font-size: 20px;
    text-decoration: none;
    
}
#contact-me:hover {
    color: #000;
    background-color: #C778DD;
    transform: scale(1.2);
}

.projects-samp{
    color: #C778DD;
    font-size: xx-large;
}

.projects-paragraph{
    width: 100%;
    border-bottom: 1px solid #fff;
    overflow: hidden;

}
.porjects-box{
    height: 535px;
    /* border: 2px solid; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    animation: scroll-left-to-right 5s forwards;

}
@keyframes scroll-left-to-right {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
.container-projects{
    width: 24%;
    height: 60%;
    border: 1px solid #aaa0a0;
    border-radius: 2%;
    align-content: end;
    box-shadow: 2px 2px 2px #C778DD;
}
.container-projects h1{
    border-bottom: 1px solid #aaa0a0;
    border-top: 1px solid #aaa0a0;
}
.container-projects-button{
    width: 30%;
    height: 31px;
    margin: 4px;
    border: 1px solid #aaa0a0;
    background: #00000000;
    color: #d5d2b9c9;
}

/* .skills{

} */

.skills p{
    color: #fff;
    font-size: x-large;
}
#skills-paragraph-samp{
    color: #C778DD;
    font-size: xx-large;
}
.skills-paragraph{
    width: 100%;
    border-bottom: 1px solid #fff;
}
.skills-box {
    height: 420px;
    margin-top: 2%;
    /* display: flex; */
    /* justify-content: space-evenly; */
    flex-direction: column;
    align-items: center;
    animation: scroll-right-to-left 5s ease-in;
}
@keyframes scroll-right-to-left {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.container-skills{
    width: 99%;
    height: 30%;
    margin-top: 1%;
    /* box-shadow: 2px 2px 2px #C778DD; */
    align-content: baseline;
    animation: scroll-right-to-left 8s ease-in;
}
.container-skills-one{
    width: 99%;
    height: 30%;
    margin-top: 4%;
    /* box-shadow: 2px 2px 2px #C778DD; */
    align-content: baseline;
    animation: scroll-right-to-left 8s ease-in;

}
/* .container-skills-two{
    width: 99%;
    height: 30%;
    margin-top: 1%;
    box-shadow: 2px 2px 2px #C778DD;
    align-content: baseline;

} */
.container-skills img{
    margin-left: 21%;
}
.container-skills-one img{
    margin-left: 14%;
    margin-top: 2%;
}
/* .container-skills-two img{
    margin-left: 21%;
} */
.container-skills h1{
    color:#d5d2b9c9 ;
    border-bottom: 1px solid #aaa0a0;
    /* border-top: 1px solid #aaa0a0; */
}

.container-projects-button{
    width: 30%;
    height: 31px;
    margin: 4px;
    border: 2px solid #aaa0a0;
    background: #00000000;
    color: #d5d2b9c9;
}
.about-paragraph{
    display:flex;
    justify-content: space-between;
    color: white;
    font-size:20px;
    border-bottom: 1px solid white;

}
.about-paragraph samp{
    color: blueviolet;
    font-size: xx-large;
}
.about-box {
    display: flex;
    justify-content: center;
    /* border: 1px solid #ABB2BF; */
    margin-top: 2px;
    animation: chaing-position 2s ease-in;
}

@keyframes chaing-position {
    from {
        transform: translateX(-100%);
    }
    to {
        left: 0;
        transform: translate(0);
    }
  }

.about-box-me{
    /* background-color: antiquewhite; */
    width: 60%;
    height: 86vh;
    align-content: center;
    color: rgb(206, 192, 192);
/* position: absolute; */

}
.about-photo{
    width: 45%;
    height: 84vh; 
}
.about-photo img{
    width: 89%;
    height: 97%;
    border-radius: 100%;
    margin-top: 5%;
    margin-left: 8%;
    box-shadow: 7px 4px 17px #C778DD;
}
#hating-contacts{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid aliceblue;
    color: white;
}
#hating-contacts samp{
    color: blueviolet;
    font-size: xx-large;
}
/* .content-box{
    } */
.form-contact{
    display: flex;
    justify-content: space-between;
    align-content: center;
    /* background-color: antiquewhite; */
    height: 86vh;
    width: 100%;
}
form{
border-right: 1px solid #ABB2BF;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
/* background-color: #2E86C1; */
width: 49%;
}
.form-label-text{
    color: whitesmoke;
    font-size: 20px;
}
.form-input{
    width: 50%;
    border-radius: 100px;    
}
.form-input-textarea{
    border-radius: 100px;    
    width: 50%;
}
.submit{
    width: 42%;
    margin-top: 10px;
    padding: 10px;
    background-color: #C778DD;
    color: white;
    border: none;
    border-radius: 13px;
    cursor: pointer;
}
.submit :hover{
    background-color: #492253;

}
.Send-me-message{
    width: 51%;
}
.message{
    text-align: center;
}
.message-content{
    display: flex;
    justify-content: center;
    /* background-color: #2E86C1; */
    height: 83%;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.svg h1{ 
    color: white;
}
.Send-me-message p{
    color: white;
    font-size: 30px;
}
